{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/jj70/abstracts">JJ70</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
	<li><a href="#">
	    User: {{ auth['firstname'] }} {{ auth['lastname'] }}
	  </a>
	</li>
	<li><a href="/jj70">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
{% block registration %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h2>Registration information.</h2>
      <p><strong>Attendant name:</strong>
	{{ registration.attendant  }}</p>
      {% if registration.accompanying %}
      <p><strong>With accompanying person.</strong> Additional 100€ are
      charged.</p> 
      {% else %}
      <p><strong>Single attendant registration</strong></p>
      {% endif %}
      <p><strong>Registration ID</strong>: {{ registration.order }} </p>
      <p><strong>Total amount</strong>: {{ registration.amount/100 }} €</p>
      {{ registration }}

    <form name=compra action=https://sis-t.redsys.es:25443/sis/realizarPago method=post>
      <input type=hidden name=Ds_Merchant_MerchantName value='CONGRESO JJ70' />
      <input type=hidden name=Ds_Merchant_MerchantCode value='334110855' />
      <input type=hidden name=Ds_Merchant_Terminal value='1' />
      <input type=hidden name=Ds_Merchant_Order value='{{ registration.order }}' />
      <input type=hidden name=Ds_Merchant_Amount value='{{ registration.amount}}' />
      <input type=hidden name=Ds_Merchant_SumTotal value='{{ registration.amount}}' />
      <input type=hidden name=Ds_Merchant_DateFrecuency value='1' />
      <input type=hidden name=Ds_Merchant_Currency value='978' />
      <input type=hidden name=Ds_Merchant_TransactionType value='0' />
      <input type=hidden name=Ds_Merchant_ConsumerLanguage value='2' />
      <input type=hidden name=Ds_Merchant_MerchantURL value='{{ registration.URL }}' />
      <input type=hidden name=Ds_Merchant_UrlOK value='{{ registration.URLOK }}'>
      <input type=hidden name=Ds_Merchant_UrlKO value='{{ registration.URLKO }}'>
      <input type=hidden name=Ds_Merchant_MerchantSignature value='{{ registration.signature }}' />
      <input type=submit name=Aceptar value='Proceed to Payment' class='btn btn-primary' />
    </form> 

    </div>
  </div>
</div>

{% endblock registration %}
{% endblock content %}
