{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/jj70/abstracts">JJ70</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
	<li><a href="#">
	    User: {{ auth['firstname'] }} {{ auth['lastname'] }}
	  </a>
	</li>
	<li><a href="/jj70">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
{% block registration %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <p>Confirm registration</p>

      <form action="https://sis-t.redsys.es:25443/sis/realizarPago"
	    method="post"
	    target="_blank">

	<div class="form-group">
	  <label for="abstract">Registration name</label>
	  <input type="text"
		 name="Ds_Merchant_Titular"
		 id="abstract"
		 class="form-control"
		 required>
	</div>

	<input type="hidden"
	       name="Ds_Merchant_Amount"
	       value="{{ registration.amount }}">

	<input type="hidden"
	       name="Ds_Merchant_Currency"
	       value="{{ registration.currency }}">

	<input type="hidden"
	       name="Ds_Merchant_Order"
	       value="{{ registration.order }}">

	<input type="hidden"
	       name="Ds_Merchant_MerchantCode"
	       value="{{ registration.code }}">

	<input type="hidden"
	       name="Ds_Merchant_MerchantURL"
	       value="{{ registration.URL }}">

	<input type="hidden"
	       name="Ds_Merchant_UrlOK"
	       value="{{ registration.URLOK }}">

	<input type="hidden"
	       name="Ds_Merchant_UrlKO"
	       value="{{ registration.URLKO }}">

	<input type="hidden"
	       name="Ds_Merchant_MerchantSignature"
	       value="{{ registration.signature }}">

	<input type="hidden"
	       name="Ds_Merchant_MerchantTerminal"
	       value="{{ registration.terminal }}">

	<input type="hidden"
	       name="Ds_Merchant_MerchantTerminal"
	       value="{{ registration.terminal }}">

      </form>

    </div>
  </div>
</div>

{% endblock registration %}
{% endblock content %}
